@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.weather {
  &__top {
    margin-top: 20px;

    .input-search {
      input {
        &:focus {
          border: 1px solid #ced4da;
          box-shadow: none;
        }
      }
    }
  }

  &__body {
    margin-top: 20px;

    .location-name,
    .weather-temp,
    .weather-humidity,
    .weather-desc,
    .weather-temp-maxmin,
    .weather-date {
      text-align: center;
    }

    .weather-temp {
      h4 {
        font-size: 50px;
        margin-bottom: 50px;
      }
    }

    .weather-desc {
      text-transform: capitalize;
    }
  }

  &__error {
    margin-top: 20px;

    text-align: center;
  }
}